include ../site-dropdown/site-dropdown
include ../site-button/site-button
include ../../helpers/decline-js
include ../../helpers/separate-price-js


mixin booking-block(obj)

  article.booking-block
    h2.booking-block__heading Бронирование номера
    header.booking-block__header
      p(class =["booking-block__room-number", obj.luxe ? "booking-block__room-number_luxe" : ""]) №!{obj.number}
      p.booking-block__price
        span.booking-block__price-value !{separatePrice(obj.price) + obj.currency}
        |  в сутки
    .booking-block__body
      form.booking-block__form
        .booking-block__date-dropdown-wrapper
          +site-dropdown({
            label: "Прибытие",
            id: "booking-departure",
            text: "ДД.ММ.ГГГГ",
            shared: {id: "booking-dropdown"},
            modifiers: {calendar: {type: "range"}, buttons: true}
          })
        .booking-block__date-dropdown-wrapper
          +site-dropdown({
            label: "Выезд",
            id: "booking-arrival",
            text: "ДД.ММ.ГГГГ",
            shared: {for: "booking-dropdown"},
            modifiers: {calendar: {type: "range"}, buttons: true}
          })
        .booking-block__guests-dropdown-wrapper
          +site-dropdown({
            label: "Гости", id: "booking-guest-dropdown", text: "Сколько гостей",
            options: [
              {name: "Взрослые", value: "adults", declination: ["гость", "гостя", "гостей"]},
              {name: "Дети", value: "children", declination: ["гость", "гостя", "гостей"]},
              {name: "Младенцы", value: "babies", declination: ["гость", "гостя", "гостей"]}
            ],
            modifiers: {buttons: true}
          })
        section.booking-block__bill-section
          table.booking-block__bill-table
            tr.booking-block__bill-row
              td.booking-block__bill-data
                div.booking-block__calculation
                  p.booking-block__termin !{separatePrice(obj.price) + obj.currency} х #{decline(4, ["сутки", "суток", "суток"])}
              td.booking-block__bill-data
                span.booking-block__result !{separatePrice(obj.price*4) + obj.currency}
            tr.booking-block__bill-row
              td.booking-block__bill-data
                div.booking-block__calculation
                  p.booking-block__termin Сбор за услуги#{(obj.charge >= 0 ? "": ": скидка " + separatePrice(-obj.charge) + obj.currency)}
                  button(type = "button" class = "booking-block__termin-info") i
              td.booking-block__bill-data
                span.booking-block__result #{(obj.charge > 0 ? separatePrice(obj.charge) : 0) + obj.currency}
            tr.booking-block__bill-row
              td.booking-block__bill-data
                div.booking-block__calculation
                  p.booking-block__termin Сбор за дополнительные услуги#{(obj.extraCharge >= 0 ? "" : ": скидка " + separatePrice(-obj.extraCharge) + obj.currency)}
                  button(type = "button" class = "booking-block__termin-info") i
              td.booking-block__bill-data
                span.booking-block__result #{(obj.extraCharge > 0 ? separatePrice(obj.extraCharge) : 0) + obj.currency}
            tr.booking-block__bill-row.booking-block__bill-row_total
              td.booking-block__bill-data
                p.booking-block__termin.booking-block__termin_total Итого
              td.booking-block__bill-data
                span.booking-block__result.booking-block__result_total #{separatePrice(obj.price*4 + obj.charge + obj.extraCharge) + obj.currency}
        +site-button({type: "button", text: "Забронировать", modifiers: {primary: true, flexible: true, icon: "arrow"}})