include ../../helpers/separate-price-js

mixin site-range-slider(obj)

  -let middle = Math.floor((obj.max + obj.min) / 2)

  .form-element
    .form-element__top
      if obj.label
        label.form-element__label(for = obj.id) !{obj.label}
        .form-element__note
          span.start-range !{separatePrice(obj.startVal)}
          |₽
          |!{' - '}
          span.end-range !{separatePrice(obj.endVal)}
          |₽
    .site-range-slider
      .site-range-slider__track
      input(type = "range" min = obj.min max = middle value = obj.startVal  id = obj.id).site-range-slider__input
      .site-range-slider__fill
      input(type = "range" min = middle+1  max = obj.max  value = obj.endVal id = obj.id + "-1").site-range-slider__input
    if(obj.description)
      p.form-element__description !{obj.description}


